ol {
  list-style: none;
  padding: 5px;
  margin: 2px;
}

li {
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  width: 95%;
  max-width: 225px;
  height: auto;
  background-color: white;
}

li:hover{
  cursor: pointer;
}

p {
  margin: 2px;
  font-family: 'Sarabun', sans-serif;
}